<div class="contact-component">
    <form action="https://formspree.io/f/xbjealwr" method="POST">
        <div class="form-group flex-column">
            <label>Name</label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group flex-column">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group flex-column">
            <label>Phone</label>
            <input type="number" name="phone" required>
        </div>
        <div class="form-group flex-column">
            <label>Message</label>
            <textarea name="message" required></textarea>
        </div>

        <button type="submit">Send</button>
    </form>
</div>