@import '../../../variables.scss';

.tab-bar-component {
    display: flex;
    margin: 0 15px;
    width: fit-content;
    border-radius: 30px;

    .tab-bar-item {
        margin-right: 10px;
        padding: 8px 20px;
        border-radius: 30px;
        background: $accent-color;
        color: $text-primary;
        cursor: pointer;
        transition: opacity 0.2s;
        font-size: 14px;

        &.active {
            background: $bg-primary;
        }
    }

    .tab-bar-item:hover {
        opacity: 0.9;
    }

    .tab-bar-item:nth-child(3) {
        margin-right: 0;
    }
}