<div class="projects-container">
    <div class="projects-item relesys">
        <div class="image"></div>
        <div class="text-container">
            <div class="top">
                <h2>Relesys</h2>
                <p>Employee engagement through a SaaS app solution.</p>
                <p>Frontend development in AngularJS</p>
            </div>
            <div class="bottom">
                <div class="tag">AngularJS</div>
                <div class="tag" style="background: #166ea9">C#</div>
            </div>
        </div>
        <div class="extra">
            <p>Employment</p>
        </div>
    </div>
    <div class="projects-item sellino">
        <div class="image"></div>
        <div class="text-container">
            <div class="top">
                <h2>Sellino</h2>
                <p>A marketplace app where you can create your own customized shop.</p>
                <p>Fullstack development</p>
            </div>
            <div class="bottom">
                <div class="tag">Angular</div>
                <div class="tag" style="background: #166ea9">C#</div>
                <div class="tag" style="background: #166ea9">ASP.NET 6 Web API</div>
                <div class="tag" style="background: #166ea9">JWT Authentication</div>
                <div class="tag" style="background: #08b235">Entity Framework</div>
                <div class="tag" style="background: #08b235">MSSQL</div>
            </div>
        </div>
        <div class="extra">
            <p>Personal project</p>
        </div>
    </div>
    <div class="projects-item ucl">
        <div class="image"></div>
        <div class="text-container">
            <div class="top">
                <h2>UCL Advisors</h2>
                <p>Web application for registering enquiries from students on University College Lillebælt</p>
                <p>Fullstack development</p>
            </div>
            <div class="bottom">
                <div class="tag">Javascript</div>
                <div class="tag" style="background: #166ea9">C#</div>
                <div class="tag" style="background: #dfa923">ASP.NET MVC</div>
                <div class="tag" style="background: #707070">SQL Data Reader</div>
                <div class="tag" style="background: #08b235">MSSQL</div>
            </div>
        </div>
        <div class="extra">
            <p>Personal project</p>
        </div>
    </div>
    <div class="projects-item">
        <div class="image"></div>
        <div class="text-container">
            <div class="top">
                <h2>My Running</h2>
                <p>My running is an app to keep track of running progress.</p>
                <span>Fullstack development</span>
            </div>
            <div class="bottom">
                <div class="tag">Angular</div>
                <div class="tag" style="background: #166ea9">C#</div>
                <div class="tag" style="background: #166ea9">ASP.NET 6 Web API</div>
                <div class="tag" style="background: #166ea9">JWT Authentication</div>
                <div class="tag" style="background: #08b235">Entity Framework</div>
                <div class="tag" style="background: #08b235">MSSQL</div>
            </div>
        </div>
        <div class="extra">
            <p>Personal project</p>
        </div>
    </div>
    <div class="projects-item intercare">
        <div class="image"></div>
        <div class="text-container">
            <div class="top">
                <h2>Intercare</h2>
                <p>Platform for medical treatment</p>
                <p>Fullstack development and product design</p>
            </div>
            <div class="bottom">
                <div class="tag" style="background: #07cb42">Vue</div>
                <div class="tag" style="background: #166ea9">C#</div>
                <div class="tag" style="background: #b26508">MongoDB</div>
            </div>
        </div>
        <div class="extra">
            <p>Internship</p>
        </div>
    </div>
</div>