.projects-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;

    .flex-item {
        flex-basis: 33.33%;
        height: 400px;
        padding: 15px;
        box-sizing: border-box;
    }

    .project-item {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 18px;
        box-sizing: border-box;

        h2 {
            margin-top: 8px;
            font-weight: 600;
        }

        .image {
            width: 100%;
            height: 150px;
            background-color: rgb(219, 219, 219);
            border-radius: 8px;
            background-image: url('https://play-lh.googleusercontent.com/xq1SLXy2ebkdFHh-rKRw1Lvb33lMPfuLClHFO7DRxuBX5elMTkHCBZY7C-zITMl2g-M');
            background-size: cover;
        }

        .intercare {
            background-image: url('https://www.jobfinder.dk/sites/jobfinder/files/styles/header_logo/public/intercare.png?itok=HA16Ko7v');
            background-position: center;
        }

        .ucl {
            background-image: url('https://www.ucl.dk/globalassets/06.-for-studerende/studieliv/dsc1565-seebladsgade-ucel-oktober_23438.jpg/KrakenOptimizedLargeFit');
            background-position: center;
        }
    }

    @media screen and (max-width: 1200px) {
        .flex-item {
            flex-basis: 50%;
        }
    }

    @media screen and (max-width: 750px) {
        .flex-item {
            flex-basis: 100%;
        }
    }
}