<div class="projects-container flex-row">
    <div class="flex-item">
        <div class="project-item">
            <div class="image"></div>
            <h2>Relesys</h2>
            <p>Relesys offers a performance app for employees including communication, training and more</p>
            <div class="tag"></div>
        </div>
    </div>
    <div class="flex-item">
        <div class="project-item">
            <div class="image intercare"></div>
            <h2>Intercare</h2>
            <p>Marketplace for medical treatments</p>
            <div class="tag"></div>
        </div>
    </div>
    <div class="flex-item">
        <div class="project-item">
            <div class="image ucl"></div>
            <h2>UCL Advisors</h2>
            <p>Web application for registering enquiries from students on University College Lillebælt</p>
            <div class="tag"></div>
        </div>
    </div>
    <div class="flex-item">
        <div class="project-item">
            
        </div>
    </div>
</div>