.container {
    margin: 0 auto;
}

section {
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;

    h2 {
        margin-bottom: 40px;
        color: white;
        font-size: 25px;
        background: linear-gradient(to right, #0d6bd5,#0da8d7);        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
    }
}

.first-section {
    height: calc(100vh - 70px);
    padding: 0;
    background: linear-gradient(0deg, rgba(30,37,48,1) 0%, rgba(41,54,76,1) 100%);
    h1{
        color: black;
        background: linear-gradient(to right, #ffffff,#bbbbbb);        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.section-container {
    height: calc(100vh - 110px);
    display: flex;
    gap: 50px;
    align-items: center;
}

.section-container-item {
    background-size: 400% 400%;
    animation: gradient 12s ease infinite, slidein .7s ease-in;
    flex: 1;
    padding: 20px 20px;
    color: white;
}

.section-container-item:nth-child(2) {
    background: 0;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.large {
    h1 {
        font-weight: 700;
        font-size: 4rem;
        padding: 0px;
        margin: 0px;
    }
    
    h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    
    h3 {
        font-size: 2rem;
        font-weight: 500;
    }
}

img {
    max-width: 100%;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 40px 0px;
}

.projects {
    background-color: rgb(30, 37, 48);
    // h1 {
    //     padding: 0 6px;
    //     background: linear-gradient(-45deg,rgb(89, 155, 243), rgb(19, 215, 78));
    //     background-size: 400% 400%;
    //     animation: gradient 12s ease infinite, slidein .7s ease-in;        width: fit-content;
    //     color: black;
    // }
}