<div class="container">
  <!-- Navigation -->
  <navigation-bar></navigation-bar>

  <!-- Home section -->
  <section class="first-section">
    <div class="inner-container">
      <div class="section-container">
        <div class="section-container-item large">
          <h1>{{ name }}</h1>
          <h3 class="changing-text">{{ changingText }} </h3>
          <!-- <h3>Full stack developer</h3> -->
          <!-- <p>Se mine projekter herunder</p> -->
          <div class="link-icons">
            <img class="link-icon" src="../../assets/icons/github-mark-white.svg" (click)="goToPage('github')"/>
            <img class="link-icon" src="../../assets/icons/LinkedIn_icon.svg" (click)="goToPage('linkedin')"/>
          </div>
        </div>
        <div class="section-container-item">
          <img class="profile-img" src="../assets/img/frederik.PNG">
        </div>
      </div>
    </div>
    <div class="cv-container flex-row justify-center">
        <div class="flex-column">
          In a hurry?
        <div class="cv-button" (click)="downloadCV()">
          Download my CV here             
          <img class="icon" src="../../assets/icons/download-icon.png" (click)="goToPage('linkedin')"/>
        </div>
      </div>
    </div>

  </section>
  
  <!-- Projects section -->
  <section id="projects" class="projects">
    <div class="inner-container">
      <h2>Projects and experience</h2>
    <my-projects></my-projects>
    </div>
  </section>

  <!-- About me section -->
  <section id="about-me">
    <div class="inner-container">
      <h2>About me</h2>
      <p>My name is Frederik Landtved Jensen and I am a 26 years old web development student.
        I have a strong knowledge in Javascript programming, especially frameworks as Angular.
        As I have a Computer Science degree and work experience, I'm also skilled in .NET development in C# and SQL.
        <span>I have a big passion in building stable software through readable and maintainable code, </span> and a
        huge interest in learning new things within the field!
      </p>
      <br>
      <p>I live in Odense in a small apartment with my girlfriend. Besides software development my personal interests
        include cooking (I make a banging lasagna 😍), running, traveling and upcycling furniture.
      </p>
      <br>
      <p><span>Please always feel free</span> to reach out to me by email:
        <br>
        <br>
        <a href="mailto:frederiklandtved@hotmail.dk" target="_blank">frederiklandtved@hotmail.dk</a>
      </p>
    </div>
  </section>
</div>
