// Background colors
$bg-primary: rgb(41,54,76);
$bg-secondary: rgb(30, 37, 48);
$bg-accent: rgb(49, 83, 138);

// Accent/theme colors
$accent-color: rgb(63, 106, 175);

// Text colors
$text-primary: rgb(247, 250, 255);
$text-primary-accent: rgb(201, 201, 201);

// Section backround colors
$bg-section-primary: rgb(235, 235, 235);

// UI Kit - WIP
$input-border: rgb(211, 211, 211);